.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.936523;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.734863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.919922;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.704102;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.924805;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._e{margin-left:-107.640000px;}
._10{margin-left:-93.640000px;}
._14{margin-left:-5.096000px;}
._2{margin-left:-4.048000px;}
._6{margin-left:-2.992000px;}
._0{margin-left:-1.344000px;}
._5{width:1.120000px;}
._1{width:2.176000px;}
._3{width:4.016000px;}
._7{width:5.328000px;}
._4{width:6.960000px;}
._8{width:8.672000px;}
._9{width:9.712000px;}
._a{width:10.816000px;}
._c{width:20.640000px;}
._d{width:21.648000px;}
._11{width:65.128000px;}
._f{width:79.520000px;}
._12{width:235.600000px;}
._13{width:238.592000px;}
._b{width:259.600000px;}
.fc1{color:rgb(0,0,128);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs4{font-size:56.000000px;}
.fs2{font-size:64.400000px;}
.fs3{font-size:72.800000px;}
.fs0{font-size:112.000000px;}
.y21{bottom:59.300000px;}
.y88{bottom:93.500000px;}
.y93{bottom:95.200000px;}
.yc5{bottom:98.100000px;}
.y20{bottom:99.300000px;}
.ya0{bottom:100.100000px;}
.y9b{bottom:114.000000px;}
.yc4{bottom:114.700000px;}
.y92{bottom:118.700000px;}
.yc6{bottom:119.500000px;}
.yb9{bottom:120.200000px;}
.y57{bottom:120.300000px;}
.yaf{bottom:124.900000px;}
.y1f{bottom:126.900000px;}
.y91{bottom:135.300000px;}
.y6b{bottom:136.100000px;}
.yb8{bottom:136.700000px;}
.y56{bottom:136.800000px;}
.yae{bottom:141.400000px;}
.y22{bottom:142.000000px;}
.y3f{bottom:143.600000px;}
.yb0{bottom:151.500000px;}
.y90{bottom:151.800000px;}
.yba{bottom:152.000000px;}
.y6a{bottom:152.600000px;}
.y1e{bottom:154.500000px;}
.yad{bottom:158.000000px;}
.y55{bottom:160.400000px;}
.y0{bottom:167.000000px;}
.y3e{bottom:167.100000px;}
.y1d{bottom:168.300000px;}
.y8f{bottom:168.400000px;}
.y69{bottom:169.200000px;}
.y9a{bottom:179.400000px;}
.yac{bottom:181.500000px;}
.y1c{bottom:182.100000px;}
.y3d{bottom:183.700000px;}
.y54{bottom:183.900000px;}
.y68{bottom:185.700000px;}
.ya6{bottom:195.500000px;}
.y99{bottom:196.000000px;}
.y67{bottom:202.300000px;}
.y3c{bottom:207.200000px;}
.y53{bottom:207.500000px;}
.y1b{bottom:209.700000px;}
.y87{bottom:222.000000px;}
.y1a{bottom:223.500000px;}
.y3b{bottom:223.800000px;}
.ye0{bottom:228.000000px;}
.yb7{bottom:230.900000px;}
.y52{bottom:231.000000px;}
.y94{bottom:233.500000px;}
.y19{bottom:237.300000px;}
.y86{bottom:238.500000px;}
.y3a{bottom:240.300000px;}
.y63{bottom:243.000000px;}
.yc3{bottom:244.500000px;}
.ydf{bottom:244.600000px;}
.y18{bottom:251.100000px;}
.yb6{bottom:254.500000px;}
.y51{bottom:254.600000px;}
.y85{bottom:255.100000px;}
.y4b{bottom:255.800000px;}
.y39{bottom:256.900000px;}
.yde{bottom:261.100000px;}
.y8e{bottom:264.700000px;}
.y17{bottom:264.900000px;}
.yc2{bottom:270.000000px;}
.yb5{bottom:271.000000px;}
.y84{bottom:271.600000px;}
.y40{bottom:278.000000px;}
.y50{bottom:278.100000px;}
.y16{bottom:278.700000px;}
.y4a{bottom:279.300000px;}
.y38{bottom:284.500000px;}
.ydd{bottom:284.700000px;}
.yc1{bottom:286.500000px;}
.yb4{bottom:287.600000px;}
.y15{bottom:292.500000px;}
.y8d{bottom:293.200000px;}
.y62{bottom:294.900000px;}
.y83{bottom:295.200000px;}
.yab{bottom:297.000000px;}
.ydc{bottom:301.200000px;}
.y4f{bottom:301.700000px;}
.yc0{bottom:303.100000px;}
.y14{bottom:306.300000px;}
.y37{bottom:308.000000px;}
.y61{bottom:311.400000px;}
.ya5{bottom:311.600000px;}
.y82{bottom:311.700000px;}
.y8c{bottom:316.700000px;}
.ydb{bottom:317.800000px;}
.ybf{bottom:319.600000px;}
.y13{bottom:320.100000px;}
.yaa{bottom:320.600000px;}
.y36{bottom:324.600000px;}
.y71{bottom:324.700000px;}
.y4e{bottom:325.200000px;}
.y7b{bottom:325.600000px;}
.y60{bottom:328.000000px;}
.ya4{bottom:328.200000px;}
.y81{bottom:328.300000px;}
.y8b{bottom:333.300000px;}
.yda{bottom:334.300000px;}
.ybe{bottom:336.200000px;}
.y4c{bottom:336.500000px;}
.ya9{bottom:337.100000px;}
.y35{bottom:341.100000px;}
.y7a{bottom:342.100000px;}
.y80{bottom:344.800000px;}
.y12{bottom:347.700000px;}
.yd9{bottom:350.900000px;}
.ya8{bottom:353.700000px;}
.y8a{bottom:356.800000px;}
.y34{bottom:357.700000px;}
.y79{bottom:358.700000px;}
.ya1{bottom:359.000000px;}
.y6c{bottom:362.000000px;}
.yc8{bottom:362.800000px;}
.yd8{bottom:367.400000px;}
.y7f{bottom:368.400000px;}
.y89{bottom:373.400000px;}
.y78{bottom:375.200000px;}
.y11{bottom:375.300000px;}
.y58{bottom:377.500000px;}
.y33{bottom:381.200000px;}
.yd7{bottom:384.000000px;}
.yc7{bottom:388.300000px;}
.y10{bottom:389.100000px;}
.y7e{bottom:391.900000px;}
.y32{bottom:397.800000px;}
.yd6{bottom:400.500000px;}
.yf{bottom:402.900000px;}
.y66{bottom:407.500000px;}
.y7d{bottom:408.500000px;}
.y9f{bottom:412.800000px;}
.y72{bottom:413.500000px;}
.y31{bottom:414.300000px;}
.ye{bottom:416.700000px;}
.yd5{bottom:417.100000px;}
.y49{bottom:422.400000px;}
.yd{bottom:430.500000px;}
.y30{bottom:430.900000px;}
.y65{bottom:432.900000px;}
.y7c{bottom:434.000000px;}
.y9e{bottom:436.300000px;}
.yd4{bottom:440.600000px;}
.y48{bottom:445.900000px;}
.y64{bottom:449.500000px;}
.y9d{bottom:452.900000px;}
.y2f{bottom:454.400000px;}
.yd3{bottom:457.200000px;}
.yc{bottom:458.100000px;}
.yb3{bottom:458.700000px;}
.y9c{bottom:469.400000px;}
.y47{bottom:469.500000px;}
.y2e{bottom:478.000000px;}
.yb{bottom:478.700000px;}
.yd2{bottom:480.700000px;}
.yb2{bottom:482.200000px;}
.y46{bottom:486.000000px;}
.ya3{bottom:493.000000px;}
.y2d{bottom:494.500000px;}
.yd1{bottom:497.300000px;}
.yb1{bottom:498.800000px;}
.y70{bottom:507.400000px;}
.ya{bottom:509.200000px;}
.y45{bottom:509.600000px;}
.yd0{bottom:513.800000px;}
.ya2{bottom:516.600000px;}
.y2c{bottom:518.100000px;}
.y9{bottom:525.800000px;}
.ycf{bottom:530.400000px;}
.y6f{bottom:532.900000px;}
.y44{bottom:533.100000px;}
.y2b{bottom:534.600000px;}
.y8{bottom:542.300000px;}
.y6e{bottom:549.400000px;}
.y43{bottom:549.700000px;}
.y2a{bottom:551.200000px;}
.yce{bottom:553.900000px;}
.y7{bottom:558.900000px;}
.y5f{bottom:564.300000px;}
.y42{bottom:566.200000px;}
.ycd{bottom:570.500000px;}
.y29{bottom:574.700000px;}
.y41{bottom:582.800000px;}
.y6{bottom:586.500000px;}
.y5e{bottom:589.800000px;}
.yc9{bottom:592.500000px;}
.ycc{bottom:594.000000px;}
.y28{bottom:595.800000px;}
.y77{bottom:599.000000px;}
.y5{bottom:600.300000px;}
.y5d{bottom:606.300000px;}
.ycb{bottom:610.600000px;}
.y4{bottom:614.100000px;}
.ybd{bottom:615.400000px;}
.y76{bottom:621.500000px;}
.y3{bottom:627.900000px;}
.y5c{bottom:629.900000px;}
.yca{bottom:635.000000px;}
.y98{bottom:641.100000px;}
.y27{bottom:641.300000px;}
.y75{bottom:652.000000px;}
.y5b{bottom:653.400000px;}
.y26{bottom:655.100000px;}
.y2{bottom:664.800000px;}
.y97{bottom:665.500000px;}
.ybc{bottom:667.400000px;}
.y74{bottom:668.600000px;}
.ya7{bottom:674.200000px;}
.y5a{bottom:677.000000px;}
.y25{bottom:682.700000px;}
.ybb{bottom:684.000000px;}
.y73{bottom:689.600000px;}
.y96{bottom:691.000000px;}
.y24{bottom:696.500000px;}
.y1{bottom:697.000000px;}
.y6d{bottom:698.600000px;}
.y59{bottom:700.500000px;}
.y95{bottom:707.500000px;}
.y4d{bottom:722.200000px;}
.y23{bottom:724.100000px;}
.h18{height:17.500000px;}
.h3{height:33.796875px;}
.h9{height:39.429688px;}
.h10{height:40.578125px;}
.h4{height:46.664844px;}
.h6{height:52.751562px;}
.h2{height:81.156250px;}
.h5{height:97.500000px;}
.ha{height:150.500000px;}
.hd{height:184.500000px;}
.he{height:287.500000px;}
.hc{height:323.500000px;}
.h13{height:329.500000px;}
.h8{height:372.500000px;}
.h11{height:431.000000px;}
.h7{height:438.000000px;}
.hb{height:466.000000px;}
.h1{height:496.000000px;}
.h14{height:502.500000px;}
.h16{height:514.500000px;}
.h15{height:537.000000px;}
.h12{height:551.000000px;}
.h17{height:589.500000px;}
.hf{height:628.000000px;}
.h0{height:792.000000px;}
.w2{width:238.500000px;}
.w1{width:394.500000px;}
.w5{width:428.500000px;}
.w4{width:455.500000px;}
.w6{width:462.000000px;}
.w7{width:471.000000px;}
.w3{width:499.000000px;}
.w8{width:509.500000px;}
.w0{width:612.000000px;}
.x7{left:51.000000px;}
.x3{left:56.800000px;}
.x4{left:60.500000px;}
.x5{left:78.500000px;}
.x2{left:80.400000px;}
.x0{left:84.000000px;}
.x6{left:92.000000px;}
.x1{left:113.200000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._e{margin-left:-143.520000pt;}
._10{margin-left:-124.853333pt;}
._14{margin-left:-6.794667pt;}
._2{margin-left:-5.397333pt;}
._6{margin-left:-3.989333pt;}
._0{margin-left:-1.792000pt;}
._5{width:1.493333pt;}
._1{width:2.901333pt;}
._3{width:5.354667pt;}
._7{width:7.104000pt;}
._4{width:9.280000pt;}
._8{width:11.562667pt;}
._9{width:12.949333pt;}
._a{width:14.421333pt;}
._c{width:27.520000pt;}
._d{width:28.864000pt;}
._11{width:86.837333pt;}
._f{width:106.026667pt;}
._12{width:314.133333pt;}
._13{width:318.122667pt;}
._b{width:346.133333pt;}
.fs1{font-size:64.000000pt;}
.fs4{font-size:74.666667pt;}
.fs2{font-size:85.866667pt;}
.fs3{font-size:97.066667pt;}
.fs0{font-size:149.333333pt;}
.y21{bottom:79.066667pt;}
.y88{bottom:124.666667pt;}
.y93{bottom:126.933333pt;}
.yc5{bottom:130.800000pt;}
.y20{bottom:132.400000pt;}
.ya0{bottom:133.466667pt;}
.y9b{bottom:152.000000pt;}
.yc4{bottom:152.933333pt;}
.y92{bottom:158.266667pt;}
.yc6{bottom:159.333333pt;}
.yb9{bottom:160.266667pt;}
.y57{bottom:160.400000pt;}
.yaf{bottom:166.533333pt;}
.y1f{bottom:169.200000pt;}
.y91{bottom:180.400000pt;}
.y6b{bottom:181.466667pt;}
.yb8{bottom:182.266667pt;}
.y56{bottom:182.400000pt;}
.yae{bottom:188.533333pt;}
.y22{bottom:189.333333pt;}
.y3f{bottom:191.466667pt;}
.yb0{bottom:202.000000pt;}
.y90{bottom:202.400000pt;}
.yba{bottom:202.666667pt;}
.y6a{bottom:203.466667pt;}
.y1e{bottom:206.000000pt;}
.yad{bottom:210.666667pt;}
.y55{bottom:213.866667pt;}
.y0{bottom:222.666667pt;}
.y3e{bottom:222.800000pt;}
.y1d{bottom:224.400000pt;}
.y8f{bottom:224.533333pt;}
.y69{bottom:225.600000pt;}
.y9a{bottom:239.200000pt;}
.yac{bottom:242.000000pt;}
.y1c{bottom:242.800000pt;}
.y3d{bottom:244.933333pt;}
.y54{bottom:245.200000pt;}
.y68{bottom:247.600000pt;}
.ya6{bottom:260.666667pt;}
.y99{bottom:261.333333pt;}
.y67{bottom:269.733333pt;}
.y3c{bottom:276.266667pt;}
.y53{bottom:276.666667pt;}
.y1b{bottom:279.600000pt;}
.y87{bottom:296.000000pt;}
.y1a{bottom:298.000000pt;}
.y3b{bottom:298.400000pt;}
.ye0{bottom:304.000000pt;}
.yb7{bottom:307.866667pt;}
.y52{bottom:308.000000pt;}
.y94{bottom:311.333333pt;}
.y19{bottom:316.400000pt;}
.y86{bottom:318.000000pt;}
.y3a{bottom:320.400000pt;}
.y63{bottom:324.000000pt;}
.yc3{bottom:326.000000pt;}
.ydf{bottom:326.133333pt;}
.y18{bottom:334.800000pt;}
.yb6{bottom:339.333333pt;}
.y51{bottom:339.466667pt;}
.y85{bottom:340.133333pt;}
.y4b{bottom:341.066667pt;}
.y39{bottom:342.533333pt;}
.yde{bottom:348.133333pt;}
.y8e{bottom:352.933333pt;}
.y17{bottom:353.200000pt;}
.yc2{bottom:360.000000pt;}
.yb5{bottom:361.333333pt;}
.y84{bottom:362.133333pt;}
.y40{bottom:370.666667pt;}
.y50{bottom:370.800000pt;}
.y16{bottom:371.600000pt;}
.y4a{bottom:372.400000pt;}
.y38{bottom:379.333333pt;}
.ydd{bottom:379.600000pt;}
.yc1{bottom:382.000000pt;}
.yb4{bottom:383.466667pt;}
.y15{bottom:390.000000pt;}
.y8d{bottom:390.933333pt;}
.y62{bottom:393.200000pt;}
.y83{bottom:393.600000pt;}
.yab{bottom:396.000000pt;}
.ydc{bottom:401.600000pt;}
.y4f{bottom:402.266667pt;}
.yc0{bottom:404.133333pt;}
.y14{bottom:408.400000pt;}
.y37{bottom:410.666667pt;}
.y61{bottom:415.200000pt;}
.ya5{bottom:415.466667pt;}
.y82{bottom:415.600000pt;}
.y8c{bottom:422.266667pt;}
.ydb{bottom:423.733333pt;}
.ybf{bottom:426.133333pt;}
.y13{bottom:426.800000pt;}
.yaa{bottom:427.466667pt;}
.y36{bottom:432.800000pt;}
.y71{bottom:432.933333pt;}
.y4e{bottom:433.600000pt;}
.y7b{bottom:434.133333pt;}
.y60{bottom:437.333333pt;}
.ya4{bottom:437.600000pt;}
.y81{bottom:437.733333pt;}
.y8b{bottom:444.400000pt;}
.yda{bottom:445.733333pt;}
.ybe{bottom:448.266667pt;}
.y4c{bottom:448.666667pt;}
.ya9{bottom:449.466667pt;}
.y35{bottom:454.800000pt;}
.y7a{bottom:456.133333pt;}
.y80{bottom:459.733333pt;}
.y12{bottom:463.600000pt;}
.yd9{bottom:467.866667pt;}
.ya8{bottom:471.600000pt;}
.y8a{bottom:475.733333pt;}
.y34{bottom:476.933333pt;}
.y79{bottom:478.266667pt;}
.ya1{bottom:478.666667pt;}
.y6c{bottom:482.666667pt;}
.yc8{bottom:483.733333pt;}
.yd8{bottom:489.866667pt;}
.y7f{bottom:491.200000pt;}
.y89{bottom:497.866667pt;}
.y78{bottom:500.266667pt;}
.y11{bottom:500.400000pt;}
.y58{bottom:503.333333pt;}
.y33{bottom:508.266667pt;}
.yd7{bottom:512.000000pt;}
.yc7{bottom:517.733333pt;}
.y10{bottom:518.800000pt;}
.y7e{bottom:522.533333pt;}
.y32{bottom:530.400000pt;}
.yd6{bottom:534.000000pt;}
.yf{bottom:537.200000pt;}
.y66{bottom:543.333333pt;}
.y7d{bottom:544.666667pt;}
.y9f{bottom:550.400000pt;}
.y72{bottom:551.333333pt;}
.y31{bottom:552.400000pt;}
.ye{bottom:555.600000pt;}
.yd5{bottom:556.133333pt;}
.y49{bottom:563.200000pt;}
.yd{bottom:574.000000pt;}
.y30{bottom:574.533333pt;}
.y65{bottom:577.200000pt;}
.y7c{bottom:578.666667pt;}
.y9e{bottom:581.733333pt;}
.yd4{bottom:587.466667pt;}
.y48{bottom:594.533333pt;}
.y64{bottom:599.333333pt;}
.y9d{bottom:603.866667pt;}
.y2f{bottom:605.866667pt;}
.yd3{bottom:609.600000pt;}
.yc{bottom:610.800000pt;}
.yb3{bottom:611.600000pt;}
.y9c{bottom:625.866667pt;}
.y47{bottom:626.000000pt;}
.y2e{bottom:637.333333pt;}
.yb{bottom:638.266667pt;}
.yd2{bottom:640.933333pt;}
.yb2{bottom:642.933333pt;}
.y46{bottom:648.000000pt;}
.ya3{bottom:657.333333pt;}
.y2d{bottom:659.333333pt;}
.yd1{bottom:663.066667pt;}
.yb1{bottom:665.066667pt;}
.y70{bottom:676.533333pt;}
.ya{bottom:678.933333pt;}
.y45{bottom:679.466667pt;}
.yd0{bottom:685.066667pt;}
.ya2{bottom:688.800000pt;}
.y2c{bottom:690.800000pt;}
.y9{bottom:701.066667pt;}
.ycf{bottom:707.200000pt;}
.y6f{bottom:710.533333pt;}
.y44{bottom:710.800000pt;}
.y2b{bottom:712.800000pt;}
.y8{bottom:723.066667pt;}
.y6e{bottom:732.533333pt;}
.y43{bottom:732.933333pt;}
.y2a{bottom:734.933333pt;}
.yce{bottom:738.533333pt;}
.y7{bottom:745.200000pt;}
.y5f{bottom:752.400000pt;}
.y42{bottom:754.933333pt;}
.ycd{bottom:760.666667pt;}
.y29{bottom:766.266667pt;}
.y41{bottom:777.066667pt;}
.y6{bottom:782.000000pt;}
.y5e{bottom:786.400000pt;}
.yc9{bottom:790.000000pt;}
.ycc{bottom:792.000000pt;}
.y28{bottom:794.400000pt;}
.y77{bottom:798.666667pt;}
.y5{bottom:800.400000pt;}
.y5d{bottom:808.400000pt;}
.ycb{bottom:814.133333pt;}
.y4{bottom:818.800000pt;}
.ybd{bottom:820.533333pt;}
.y76{bottom:828.666667pt;}
.y3{bottom:837.200000pt;}
.y5c{bottom:839.866667pt;}
.yca{bottom:846.666667pt;}
.y98{bottom:854.800000pt;}
.y27{bottom:855.066667pt;}
.y75{bottom:869.333333pt;}
.y5b{bottom:871.200000pt;}
.y26{bottom:873.466667pt;}
.y2{bottom:886.400000pt;}
.y97{bottom:887.333333pt;}
.ybc{bottom:889.866667pt;}
.y74{bottom:891.466667pt;}
.ya7{bottom:898.933333pt;}
.y5a{bottom:902.666667pt;}
.y25{bottom:910.266667pt;}
.ybb{bottom:912.000000pt;}
.y73{bottom:919.466667pt;}
.y96{bottom:921.333333pt;}
.y24{bottom:928.666667pt;}
.y1{bottom:929.333333pt;}
.y6d{bottom:931.466667pt;}
.y59{bottom:934.000000pt;}
.y95{bottom:943.333333pt;}
.y4d{bottom:962.933333pt;}
.y23{bottom:965.466667pt;}
.h18{height:23.333333pt;}
.h3{height:45.062500pt;}
.h9{height:52.572917pt;}
.h10{height:54.104167pt;}
.h4{height:62.219792pt;}
.h6{height:70.335417pt;}
.h2{height:108.208333pt;}
.h5{height:130.000000pt;}
.ha{height:200.666667pt;}
.hd{height:246.000000pt;}
.he{height:383.333333pt;}
.hc{height:431.333333pt;}
.h13{height:439.333333pt;}
.h8{height:496.666667pt;}
.h11{height:574.666667pt;}
.h7{height:584.000000pt;}
.hb{height:621.333333pt;}
.h1{height:661.333333pt;}
.h14{height:670.000000pt;}
.h16{height:686.000000pt;}
.h15{height:716.000000pt;}
.h12{height:734.666667pt;}
.h17{height:786.000000pt;}
.hf{height:837.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:318.000000pt;}
.w1{width:526.000000pt;}
.w5{width:571.333333pt;}
.w4{width:607.333333pt;}
.w6{width:616.000000pt;}
.w7{width:628.000000pt;}
.w3{width:665.333333pt;}
.w8{width:679.333333pt;}
.w0{width:816.000000pt;}
.x7{left:68.000000pt;}
.x3{left:75.733333pt;}
.x4{left:80.666667pt;}
.x5{left:104.666667pt;}
.x2{left:107.200000pt;}
.x0{left:112.000000pt;}
.x6{left:122.666667pt;}
.x1{left:150.933333pt;}
}
